.signup-div {
  padding: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

/* .signup-form {
  display: flex;
  flex-direction: column;
} */
.form-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
